<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>teacher v1</title>
        
        <!-- Compiled and minified CSS -->
        <!--link rel="stylesheet"       
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"-->
        <link rel="stylesheet"  href="./app/libs/materialize.min.css">

        <link rel="stylesheet"  href="./app/css/general.css" >
        <link rel="stylesheet"  href="./app/css/testDiv.css" >
        <link rel="stylesheet"  href="./app/css/mainScreen.css" >
        <link rel="stylesheet"  href="./app/css/animations.css" >
        
                <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script-->
                <!--script src="https://opensource.keycdn.com/angularjs/1.6.6/angular.min.js"></script-->
                <script src="./app/libs/angular.min.1.6.6.js"></script>
                <script src="./app/libs/angular-animate.min.js" ></script>


        
                <script src="./app/js/teacherApp.js"></script>
                <script src="./app/js/services.js"></script>
                <script src="./app/js/controllers.js"></script>
                
                <script src="./app/js/directives.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                
    </head>
<body ng-app='teacherApp' style="border- 1px solid red">
        <!--div class="card red darken-4">
            <div class="card-content">
                lorem dolor ipsum samet
            </div>
        </div-->
    <div class="row" style="height: 100%">
        <div class="col m2 l3"></div>
        <div class="col s12 m8 l6" 
            style=" 
                    display: flex; 
                    flex-direction: column; 
                    
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    ">
            
            
            <div id="mainScreen" ng-controller="teacherCtr" 
                    style="border: 1px solid;">

                <!--div ng-click="testclick()"> cklick here
                    <div class='animatediv' ng-hide='hideThis' >
                                Some conditionally hidden content here
                    </div>
                </div-->
                

                <!-- "navbar" -->
                <div class="in_row">
                    <div style="border- 1px dashed; display:flex; align-items: center">
                        <div ng-show="screen =='main'" 
                            ng-click="screenChange('initial')"
                            class="alignCenter">
                                <i class="material-icons hvrb">first_page</i>    
                        </div>

                        <div ng-show="screen =='words'" 
                            ng-click="screenChange('main')"
                            class="alignCenter">
                                <i class="material-icons hvrb">keyboard_arrow_left</i>
                        </div>

                        <div ng-show="screen == 'test'" 
                            ng-click="screenChange('test')"
                            class="alignCenter">
                                <i class="material-icons hvrb">keyboard_arrow_left</i>
                        </div>
                    </div>

                    <h4 ng-class="{test: 'titleDisabled', undefined: 'titleEnabled', 
                                    initial: 'titleEnabled', words: 'titleEnabled', 
                                    main: 'titleEnabled'}[screen]">the Teacher</h4>
                    <!--  && screen != 'initial' -->
                    <div>
                        <div ng-hide="screen == undefined || screen == 'initial'"    
                            style="display: flex; align-items: center;
                                   border- 1px dashed ">
                            <!--label for="checkbox"></label-->
                            <i ng-show="!zen" class="material-icons"
                               ng-class="{test: 'titleDisabled'}[screen]" >location_city</i>
                            <!--i class="material-icons">brightness_2</i-->
                            <i ng-show="zen" class="material-icons"
                               ng-class="{test: 'titleDisabled'}[screen]">filter_hdr</i>
                            
                            
                            <label for="zen">
                                <input id="zen" type="checkbox"         
                                   class="browser-default" ng-click="zenSwitch()"
                                   ng-disabled="screen=='test'">
                                <!-- --></label>
                        </div>
                    </div>
                </div>
            
                <!--  loading words  -->
                <div ng-show="screen ==undefined || screen == 'initial'" >

                    <div ng-show="hasLocalStorage() == true">
                        <div class="center vertical">
                                <h5>previous dictionaries</h5>
                                <div ng-repeat="dict in storedDicts" ng-model="dict" 
                                     class="collection">

                                    <div class="collection-item">
                                        <button ng-click="loadLSDict(dict.name)">
                                            <div>{{dict.name}}</div>
                                            <span class="date">{{dict.date}}</span>
                                        </button>
                                        <button class="thumb-sized" 
                                            ng-click="deleteLSDict(dict.name, $index)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                    
                                
                            </div>
                            <br>
                            <h5>or</h5>
                        </div>
                        
                        
                    </div>
                    
                    
                    <div class="center vertical">
                            <button ng-click="chooseNew = !chooseNew" >load new words</button>
                            <br><br>
                            <div ng-show="chooseNew">
                                    <div class="butRow">
                                        <button ng-click="loadDictWay = 'file'"  >open file</button>
                                            
                                        <button ng-click="loadDictWay ='copyPaste'">copy/paste</button>
                                                            
                                        <button ng-click="loadExample()">try example</button>
                                    </div>
                                    
            
                                    <div ng-if="loadDictWay == 'copyPaste'" class="center vertical">
                                            <textarea type="text" 
                                                    ng-model="txt"  cols="80" rows="10"
                                                    placeholder="paste in text content of another file"></textarea>
                                            <div class="butRow">
                                                <button ng-click="uploadPasted(txt)">Go</button>
                                            </div>
                                            <br><br>
                                    </div>
                                    <div class="center">
                                            <input type="file" ng-show="loadDictWay == 'file'"
                                            ng-model="file.data" file-select="data">
                                    </div>
                                    
                            </div>
                    </div>
                    
                    <!-- {{words}} - : {{idk}} :-->
                    
                </div>



                <!-- words && mainScreen  -->
                <div ng-show="screen == 'main'">
                    <div class="butRow row" style="border- 1px solid gray">
                            <div class="col s6">
                                    <div>
                                            <button ng-show="screen=='main'" 
                                                    ng-click="showVocab(true)">show vocab</button>
                                            
                                    </div>
                                        
                                    <div ng-show="screen == 'words'" ng-click="reverse()"> <!--             wAscen = !wAscen -->
                                                <button> switch order</button> 
                                    </div>
                            </div>
                            <div class="col s6">
                                    <!-- test length selection -->
                                    <select class="browser-default"
                                            ng-model="defaultLength" 
                                            ng-options="l + ' rounds' disable when words.length < l
                                                        for l in lengths"
                                            ng-disabled="(slct.length>0 && selectedType === 'checked ones') || selectedType == 'repeat previous'"
                                            ng-change="lengthSelect(defaultLength)"
                                            >
                                            
                                    </select>    
                            </div>
                                
                                
                    </div>
                    <div ng-show="screen == 'main'">
                        <div class="butRow row">
                            
                            <div class="col s6">
                                    
                                        <button ng-show="screen == 'main'" ng-click="changeDir()">{{lang1}} to {{lang2}}</button>
                                    
                            </div>
                            
                            <div class="col s6">
                                    <select ng-model="selectedType" 
                                    ng-options="t disable when (t ==='repeat previous' && getPrevTest()=== null) ||
                                                (t==='checked ones' && slct.length<1) for t in testTypes"

                                        class="browser-default"
                                            
                                        ng-change="typeSelection(selectedType)">
                                    </select>                
                            </div>
                            
                        </div>            
                        <br><br>
                        <div class="single_center">
                            <button ng-click="practice()">practice</button>
                        </div>
                        
                        <!-- voices settings -->
                        <div ng-show="screen == 'main'" style="margin-top: 60px;">
                            <div ng-show="voices ===undefined || voices.length===0">
                                <h6 class="center gray">your browser has no Speech ability</h6>
                            </div>
                            <div ng-show="voices && voices.length>0">
                            <label>voice for {{lang1}}
                                <input type="checkbox" ng-checked="voice1On"
                                       ng-model="xxx" 
                                       ng-change="voice1On = !voice1On">
                            </label>
                            <select class="browser-default" ng-model="defaultVoice1"
                                    ng-options="voi.name +' '+ voi.lang for voi in voices"
                                    ng-change="voice1Select(defaultVoice1.name)" >
                                <!--option ng-repeat=" voi in voices"></option-->
                            </select>
                            <br>
                            <label>voice for {{lang2}}
                                <input type="checkbox" ng-checked="voice2On" 
                                       ng-model="yyy" 
                                       ng-click="voice2On = !voice2On">
                            </label>
                            <select class="browser-default" ng-model="defaultVoice2"
                                    ng-options="voi.name + ' ' + voi.lang for voi in voices"
                                    ng-change="voice2Select(defaultVoice2.name)">
                                <!--option ng-repeat=" voi in voices"></option-->
                            </select>
                            </div>
                        </div>
                        
                    </div>    
                        <!--input ng-model="shared.string"-->
                        <br>
                            <!-- shared:
                            {{shared}} ––> -->
                
                    
                </div>

                <div ng-show="screen == 'words'">
                        
                        <!-- ng-show="!showWords" -->
                        <div class="butRow" style="border- 1px solid gray">
                            <button ng-show="screen=='words'" 
                                    ng-click="showVocab(false)">hide vocab
                            </button>
                            <div ><button ng-model="showUserNotes" ng-click="showUserNotes=!showUserNotes">back-up</button></div>
                            
                        </div>
                        <div ng-show="showUserNotes" 
                             class="center vertical" 
                             style="margin: 20px 0px 30px;">
                            
                            <textarea cols="80" rows="10" 
                                      ng-model="userNotes"
                                      style="width:100%; height: 80px; font-size:15px;" 
                                      placeholder="Add your notes to the file here:">ahoj</textarea>
                            <div style="margin: 20px 0px;">
                                <a href="#" download-file 
                                    actionzz="downloadDict(userNotes)"
                                    ng-click="downloadDict(userNotes)"
                                    ng-href="{{myURL}}"  download="{{currentFilename}}"
                                     >get the file</a>
                                     <!--download-file></download-file-->
                            </div>
                        </div>
                        
                        <h4>vocabulary:</h4>
                    
                        <vocabulary ascen="wAscen" words="words" al="al"
                            slct="slct" max="words.length" len="words.length" 
                            class="dictionary"
                            ch="change"
                            ></vocabulary>

        
                        <pre>{{ slct }}</pre>
                        <!--pre>{{ xx }}</pre-->
                        <!--input ng-model="someM" value="ohmygodnness herewjglůwknwlk">
                        <button ng-click="submit()">submit</button-->
                </div>
                
            </div>

            
            <div id="testScreen" ng-controller="testCtrl" ng-show="screen == 'test'" >
                    <!--shared:{{testQuestions}}-->
                    
                <div id="testField" ng-show="showTest">
                            
                            <!--input ng-model="shared.string"-->
                            <!--div><h6>{{test}}</h6></div-->
                            
                                <!--h7 ng-model="currIndex" ng-show="false">index {{currIndex}}</h7-->
                                
                                <div class="butRow row centered">
                                    <div class="col s4 centered">
                                            <div ng-model="anim_Bads" ng-class="anim_Bads">
                                                    <h7  >{{bads}}</h7>
                                                    <span>X</span>
                                            </div>
                                    </div>
                                    <div class="col s4 centered">
                                            <h7># {{round+1}} / {{testQuestions.length}}</h7>
                                    </div>
                                    <div class="col s4 centered">
                                            <div ng-model="anim_Oks" ng-class="anim_Oks">
                                                    <h7>{{oks}}</h7>
                                                    <span>ok</span>
                                            </div>
                                    </div>
                                    
                                </div>
                            
                            <div class="single" >
                                    <div>
                                        <h6>{{testWord}}</h6>
                                        <h6 ng-class="{true: 'corrAnswer-hide', false: 'corrAnswer-show'}[answerHide]">
                                            {{corrAnswer}}</h6>
                                    </div>
                            </div>
                            
                            <form name="test" ng-submit="submit(currIndex, user.input,round)">
                                <input type="text" name="input" ng-model="user.input" ng-value="inpVal" 
                                    inp-focus   data-myfocus="true"   autocomplete="off" 
                                    ng-disabled="nextGo =='next'" >
                                
                            </form>    
                            <div class="butRow" ng-model="nextGo"> 
                                    <button ng-click="submit(currIndex,user.input,round,'idk')" 
                                            ng-disabled="nextGo == 'next'">idk
                                    </button>

                                    <button ng-show="nextGo == 'go'" 
                                        ng-click="submit(currIndex,user.input,round)">go</button>
                                    <button ng-show="nextGo == 'next'"
                                        ng-click="next()"
                                        ng-disabled="finalResult"
                                        >next</button>
                            </div>
                            
                            
                </div>


                <div ng-show="finalResult">
                        <h5>congrats you had {{oks}} of {{testQuestions.length}} correct</h5>
                        <div>
                            <div ng-show="feedback.length>0">
                                incorrect answers:
                                <br><br>
                                <div  ng-repeat="word in feedback" >                        
                                        <div>{{word.original.word[0]}}, {{word.original.word[1]}}</div>
                                        <div> - your answer: {{word.input}}</div>
                                </div>
                            </div>
                            <button class="single" ng-click="home()">
                                    home
                            </button>
                        </div>
                </div>
                            
            </div>

        
        </div>     
        <div class="col m2 l3"></div>    
    </div>
    


        
</body>
</html>