/*@-webkit-keyframes testxx{
    from{ transform: rotate(0deg) scale(1) }
    to  { transform: rotate(120deg) scale(2)}
}
@-webkit-keyframes test{
    from{ -webkit-transform: rotate(0deg) scale(1);
            color: black; }
    to  { -webkit-transform: rotate(120deg) scale(2);
            color: orange;}
}*/
@keyframes bads{
    0% { transform: rotate(0deg) scale(1);
            color: black;  }
    50%  { transform: rotate(360deg) scale(1.5);
            color: red;  }
    100% { transform: rotate(720deg) scale(1);
            color: black;  }
}
@keyframes oks{
    0%  {   color: black; 
            transform: scale(1) }
    50% {   color: green; 
            transform: scale(2) rotate(120deg); }
    100%{   color: black; 
            transform: scale(1) }
}
/*  chage this so it works everywhere

    @keyframes test{
    from{ -webkit-transform: rotate(0deg) scale(1);
        color: black;  }
    to  { -webkit-transform: rotate(120deg) scale(2);
        color: orange; }
}*/
.anim-ok{
    color: black;
    -webkit-transform: rotate(0deg);
}
.anim-ok.live{
    animation: oks .5s linear;
}
.anim-bad{ 
    color: black;
    -webkit-transform: rotate(0deg);
    /*transform- rotate(120)*/
}
.anim-bad.live{
    /*-webkit-transform: rotate(360deg);
    transform: rotate(45deg);*/
    animation: bads .5s linear;
    
    /*transition- all linear 0.5s;*/
}