#mainScreen{

    
    align-self: center;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

h4{
    text-align: center;
}
.single_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.in_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dictionary{

    text-align: center;
}
#vocab{
    
}
#vocab .word{
    width: 80%;
    margin: auto;
    font-size: 18px;

}
.titleEnabled{
    color: black
}
.titleDisabled{
    color: rgb(200, 200, 200);
    cursor: initial;

    user-select: none;
    -webkit-user-select: none;
}

.picked{
    
    /*position: relative;
    left: 20px;*/
    background-color: rgb(201, 244, 249);
}