@font-face {
        /*
        google fonts considerd: Amaranth|Antic|Ek+Mukta|Frank+Ruhl+Libre|Nobile|Sarala
                                    experimentals: Julius+Sans+One, Monoton (for name); Carrois Gothic SC ; Averia Serif Libre; Faster One; Chathura 
                                    Cutive Mono
                                    Lateef !!
                        light: palanquin; inder; 
        */
    
        font-family: 'Frank Ruhl Libre';
        src: url('https://cdn.glitch.com/5af745fe-1575-4ae6-8aed-46fdb6e6a8b2%2FFrankRuhlLibre-Medium.ttf?1510508418899');
        /*src: url('Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf')  format('truetype');*/
}

*{
    font-family: 'Frank Ruhl Libre',"Palatino Linotype", "Book Antiqua", Palatino, serif;
    /*'Frank Ruhl Libre';*/
}
body {
    /*display-flex;
    height: 100vh;*/

}


.fullVH{
    height: 100vh;
}
.forWords{
    height: auto;
}




.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    border: 1 px solid;
    margin: 0px;
}
.collection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: none;
}
.collection-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: auto;

    border-top: 1px dashed;
}
.collection-item .thumb-sized{
    
    min-width: 48px;
    min-height: 48px;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}


.row{
    width: 100%;
    

    margin: 0px;
    padding: 0px;
    /*display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items- center;*/
    
    /*border- 1px dashed*/
}
.date{
    
    float: left;
}
i{
    user-select: none;
    -webkit-user-select: none;
}
.btn{
    background-color: rgba(63, 120, 254,.6);
    border-radius: 4px;
}
.btn-sm{
    padding-left: 15px;
    padding-right: 15px;
}
input[type="file"]{
    
}
.gray{
    color: rgba(193, 193, 193, 0.5);
}
.hvrb{}
.hvrb:hover{
    text-shadow: 1px 1px 0px rgb(193, 193, 193);
    cursor: pointer;
}
label{
    user-select: none;
    -webkit-user-select: none;
}

input[type='checkbox']:not(:checked), 
input[type="checkbox"]:checked{
    opacity: 1;
    position: static;
    left: 0px; 
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 5px;
    padding: 0px;
    
}
input[type='checkbox']:not(:checked):disabled, 
input[type="checkbox"]:checked:disabled{
    opacity: 0.3;
    position: static;
    left: 0px; 
}
input[type='checkbox']:focus{
    outline: none;
    -webkit-outline: none;
}
/*input[type="checkbox"]:checked*/

a, button {
    user-select: none;
    -webkit-user-select: none;

    height: 30px;
    /*margin: 5px; padding: 20px;*/
    text-decoration: none;
    
    border: none;
    background-color: transparent;
}
a, button:hover{
    /*cursor- pointer;*/

    /* h-shadow v-shadow blur-radius color|none|initial|inherit; */
    text-shadow: 1px 1px 0px rgb(193, 193, 193);

}
a, button:disabled{
    cursor: initial;  
    color: rgb(200, 200, 200);
    text-shadow: none;  
}
button:active, button:focus {
    background-color: transparent;
}
a:link, a:visited, a:active{
    color: black;

    user-select: none;
    -webkit-user-select: none;
}

select {
    
    border: none; /*1px solid;
    /*margin- 20px 10px;*/
    width: 80%;
    margin: auto;
    text-align-last: center;
    -webkit-text-align-last: center;
}
select:focus{
    outline: none;
}

h3, h4, h5, h6{
    cursor: initial;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
}
textarea{
    padding: 8px;
}
textarea::placeholder{
    text-align: center;
    /*color: red;*/
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical{
    display: flex;
    flex-direction: column;
}



.zero{
    color: red;
}
.one{
    color: orange;
}
.two{
    color: #fff700;
}
.three{
    color: limegreen;
}
.four{
    color: powderblue;
}
.five{
    color: dodgerblue;
}
.six{
    color: #0040ff;
}

/* my rules  */

.example{
    padding: 0px;
    margin: 0px;
    
}
/*
.size2{
    font-size: 23px;
}
.size3{
    font-size: 18px;
}
.size4{
    font-size: 15px;
}*/