body {
    /*font-size: 25px;*/
    
}
#testScreen{
    width: 100%
}

#testField{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   

    /*border- 1px dashed red;*/
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexend{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.butRow{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.corrAnswer-hide{
    color: white;
}
.corrAnswer-show{
    color: dodgerblue;/* rgb(18, 89, 156);
    /*color: black;*/
}
form {
    width: 100%;

}
form input[type="text"]{


    width: 100%;
    text-align: center;
    
    
}
form input[type="text"]:focus{
    
    border-bottom: 1px solid dodgerblue !important;
    box-shadow: 0 1px 0 0 dodgerblue !important; 
    /*        width: 100%;
        text-align: center;*/       
}

.single{

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
}




.animatediv{
    opacity:1;
}
.animatediv.ng-hide{
    /*transition- 0.5s linear opacity;
    */
    opacity: 0;
}
.animatediv.ng-hide-add,
.animatediv.ng-hide-remove{
    transition: all linear 1s;
}


